<%= form_for [@image, @story] do |f| %>

  <div class="form-group" style="margin-top: 2%;">
    <%= f.label "Enter your cool story" %>
    <%= f.text_field :body, class: "form-control" %>
  </div>
  <%= f.submit "Post your story", class: "btn btn-info" %>
<% end %>
