
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= image_tag(@image.url, class: "big-img") %>
  </div>

</div>

<div class="row">
  <div id="form-div">
  </div>
    <% if user_signed_in? %>
      <%= button_to "New Contribution", new_image_contribution_path(@image, image_show: true), method: "get", remote: true, class: "btn btn-default new-contribution" %>
    <% else %>
      <%= link_to "Sign In to Post", user_session_path, method: "get", class: "btn btn-default" %>
    <% end %>
</div>
